@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: white;
}

@layer utilities {
  .card {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
  }

  .card-image {
    transition: transform 0.8s;
  }

  .slider-container {
    scroll-behavior: smooth;
  }

  .badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .gradient-text {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .blur-backdrop {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
